<html ng-app="huoyun" ng-controller="appController">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- inject:css -->
  <link rel="stylesheet" href="../libs/font-awesome.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/huoyun.widget.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/ionicons.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/ngDialog-theme-default.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/ngDialog.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/color-picker/evol-colorpicker.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/datepicker/datepicker3.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/daterangepicker/daterangepicker.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap-theme.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/datetimepicker/css/bootstrap-datetimepicker.min.css?v=1499784890850"></link>
  <link rel="stylesheet" href="../libs/iCheck/square/_all.css?v=1499784890850"></link>
  <!-- endinject -->
  <title ng-bind="title"></title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css"></link>
  <link rel="stylesheet" href="../node_modules/svg.select.js/dist/svg.min.css"></link>
  <link rel="stylesheet" href="huoyun.css"></link>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/svg.js/dist/svg.min.js"></script>
  <script src="../node_modules/svg.select.js/dist/svg.select.min.js"></script>
  <script src="../node_modules/svg.resize.js/dist/svg.resize.min.js"></script>
  <script src="../node_modules/svg.draggable.js/dist/svg.draggable.min.js"></script>
  <script src="index.js"></script>
</head>

<body class="huoyun hold-transition">
  <div widgets-video-player-control-bar channels="channels" ng-model="shapeGroupStore"></div>
</body>
<!-- inject:js -->
<script src="../libs/jquery.min.js?v=1499784890850"></script>
<script src="../libs/jquery-ui.min.js?v=1499784890850"></script>
<script src="../libs/angular.js?v=1499784890850"></script>
<script src="../libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js?v=1499784890850"></script>
<script src="../libs/chartjs/Chart.bundle.min.js?v=1499784890850"></script>
<script src="../libs/color-picker/evol-colorpicker.js?v=1499784890850"></script>
<script src="../libs/datepicker/bootstrap-datepicker.js?v=1499784890850"></script>
<script src="../libs/daterangepicker/1moment.min.js?v=1499784890850"></script>
<script src="../libs/daterangepicker/daterangepicker.js?v=1499784890850"></script>
<script src="../libs/iCheck/icheck.min.js?v=1499784890850"></script>
<script src="../libs/bootstrap/js/bootstrap.min.js?v=1499784890850"></script>
<script src="../libs/datepicker/locales/bootstrap-datepicker.zh-CN.js?v=1499784890850"></script>
<script src="../libs/datetimepicker/js/bootstrap-datetimepicker.min.js?v=1499784890850"></script>
<script src="../libs/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v=1499784890850"></script>
<script src="../libs/angular-ui-router.min.js?v=1499784890850"></script>
<script src="../libs/huoyun.widget.js?v=1499784890850"></script>
<script src="../libs/ng-file-upload.min.js?v=1499784890850"></script>
<script src="../libs/ngDialog.min.js?v=1499784890850"></script>
<script src="../app.js?v=1499784890850"></script>
<!-- endinject -->

</html>